body, html {
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
    font-weight: 400;
}

body.lock {
    overflow: hidden;
}

.section {
    padding: 0 5% 100px 5%;
}

@media (max-width: 767px) {
    .section {
        margin-bottom: 80px;
        padding: 0 20px;
    }
}

.section-title {
    padding: 0 0 42px 0;
    margin: 0;
    font-weight: 500;
    font-size: 45px;
}

@media (max-width: 767px) {
    .section-title {
        padding: 0 0 20px 0;
        text-align: center;
        font-size: 38px;
    }
}

.section-title::after {
    transform: translateY(20px);
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000000;
}

.h3-title {
    padding: 0 0 20px 0;
    margin: 0;
    font-weight: 500;
    font-size: 30px;
}

@media (max-width: 767px) {
    .h3-title {
        padding: 0 0 10px 0;
        text-align: center;
        font-size: 30px;
    }
}

.p-text {
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 500
}

@media (max-width: 767px) {
    .p-text {
        text-align: justify;
        font-size: 20px;
    }
}

.wrapper {
    position: relative;
    max-width: 1440px;
    height: 100%;
    margin: auto;
    background-color: #F5F5F5;
}

#scrollToTop {
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 11;
    cursor: pointer;
}

#scrollToTop img {
    width: 35px;
}

.scroll-to-top {
    opacity: 0;
    transition: .2s;
}

.scroll-to-top.show {
    opacity: 1;
}

/*-------------HEADER---------------*/

.header-container {
    position: relative;
    padding: 36px 30px 0 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    z-index: 5;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.nav-menu {
    display: flex;
    padding-top: 7px;
}

.nav-menu .item {
    list-style-type: none;
    padding-left: 15px;
    cursor: pointer;
}

.nav-menu .item:hover {
    transform: translateY(-2px);
    transition: transform 0.3s ease-in-out;
}

.nav-menu .item:hover::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000000;
    transition: width .3s ease-in-out;
}

.nav-menu .item a {
    font-size: 25px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.burger {
    flex-direction: column;
    justify-content: space-around;
    width: 62px;
    height: 62px;
    z-index: 5;
}

.burger-line {
    width: 100%;
    height: 4px;
    background: black;
}

.dn {
    display: none;
}

@media (max-width: 767px) {
    .header {
        z-index: 10;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #eeeeee;
        border-bottom: 1px solid #c7c7c7;
    }
    .header-container {
        padding: 20px 30px;
    }
    .logo img {
        width: 65px;
    }
    .burger {
        display: block;
        z-index: 5;
        position: relative;
        width: 40px;
        height: 25px;
        cursor: pointer;
    }
    .burger::before, .burger::after, .burger span {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        background-color: black;
        transition: all 0.3s ease 0s;
    }
    .burger::before, .burger::after {
        content: "";
    }
    .burger::before {
        top: 0;
    }
    .burger::after {
        bottom: 0;
    }
    .burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .burger.active span {
        transform: scale(0) translate(0px, -50%);
    }
    .burger.active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .burger.active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .dn-mobile {
        display: none;
    }
    .nav-menu {
        left: -101%;
        transition: all 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 3;
        overflow: auto;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-menu .item {
        padding: 20px 20px 20px 20px;
    }
    .nav-menu .item a {
        color: white;
        font-size: 42px;
    }
    .nav-menu::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #eeeeee;
        min-height: 80px;
        border-bottom: 1px solid #c7c7c7;
    }
    .burger-wrapper {
        display: flex;
        align-items: center
    }
}

/*---------------MAIN BLOCK------------*/

.main-block {
    padding-top: 100px;
    height: 700px;
    background-image: url('./assets/img/png-header-content.png');
    background-position: 95%;
    background-size: 500px;
    background-repeat: no-repeat;
}

.main-block-title {
    max-width: 773px;
    font-size: 69px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .main-block {
        position: relative;

        height: 700px;
        background-position: center 102%;
        background-size: 50%;
    }
    .main-block-title {
        text-align: center;
        max-width: none;
        font-size: 42px;
    }
}

/*--------------PROJECTS-------------*/

.cards-wrapper {
    margin: 0 -10px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-wrapper .card {
    margin: 0 10px 10px 10px;
}
.card-img{
    width: 100%;
}
.card-img:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.projects-open {
    transform: translateY(40%)
}

.projects-open:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .cards-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .cards-wrapper .card {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .cards-wrapper .card .card-img {
        width: 100%;
    }
    .projects-open {
        width: 100%;
        text-align: center;
        transform: none;
    }

}

/*------------CONTENT CREATION------------*/

.content-wrapper {
    margin-top: -10px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.youtube-player {
    border-radius: 5px;
    margin: 10px 0 40px 20px;
}

.content-container {
    min-width: 340px;
    flex: 1 0;
    width: 100%;
}

.link-on-about-me {
    padding-top: 50px;
}

.link-on-about-me a {
    font-size: 30px;
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.link-on-about-me::after {
    content: url("./assets/img/up.svg");
    padding-left: 7px;
}

@media (max-width: 767px) {
    .content-wrapper {
        justify-content: space-around;
        flex-wrap: wrap-reverse;
    }
    .youtube-player {
        width: 100%;
        margin-bottom: 40px;
        height: 176px;
        margin: 0 20px 20px 20px;
    }
    .content-container {
        min-width: auto;
        width: 100%;
        padding-right: 0;
    }
    .link-on-about-me {
        text-align: center;
        padding-top: 20px;
    }
    .link-on-about-me a {
        font-size: 20px;
        color: black;
        text-decoration: none;
        border-bottom: 2px solid black;
    }
}

/*----------ABOUT ME----------*/

.about-me-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-right: -30px;
   
}

.about-me-container .content {
    min-width: 340px;
    width: 100%;
    flex: 1 0;
    padding-right: 30px;
    margin-bottom: 30px;
}

.offers {
 min-width: 612px;
 margin-right: 30px;
}

.offers-title {
    padding-bottom: 15px;
}


.offers .text-container {
    padding: 20px 0px 0 20px;
}
.offers .text-container .dn {
    display: none;
}

.offers .text-container .text {
    font-size: 20px;
    margin: 0;
    width: 578px;
}

.offer {
    cursor: pointer;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.offer-title::after {
    display: block;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000000;
    margin-top: 20px;
    flex: 0 0 1;
}

.about-me .offers .offer-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap
}

.about-me .offers .offer-title .block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.offer-title .arrow {
    margin-right: 20px;
}
.arrow.turn{
    transform: rotate(180deg);
}

.number {
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .about-me-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0;
    }
    .about-me-container .content {
        padding: 0;
        min-width: auto;
        width: 100%;
        margin-bottom: 50px;
    }
    .offers {
        min-width: auto;
        width: 100%;
        margin: 0;
    }
    .offers .text-container .text {
        box-sizing: border-box;
        font-size: 15px;
        padding: 0 20px 0 0;
        margin: 0;
        max-width: none;
        width: 100%;
        text-align: justify;
    }
    .about-me .offers .offer .arrow {
        width: 15px;
    }
    .number {
        font-size: 20px;
        width: 25px;
        height: 25px;
    }
}

/*----------------ОТЗЫВЫ-------------*/

.feedback-wrapper {
    padding: 50px 10% 0 10%;
}

.slider {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.slider .left-arrow {
    padding-top: 10px;
    cursor: pointer;
}

.slider .right-arrow {
    padding-top: 10px;
    transform: rotateY(180deg);
    cursor: pointer;
}

.slider .right-arrow:hover, .slider .left-arrow:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.feedback {
    padding: 0 10%;
    text-align: center;
}

.signature {
    padding: 50px 0 0 0;
    width: 250px;
    margin: 0 auto;
}

.job-position {
    width: 250px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .feedback-wrapper {
        padding: 0;
        display: flex;
        align-items: stretch
    }
    .left-arrow img, .right-arrow img {
        width: 45px;
        height: 45px;
    }
    .feedback, .signature {
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        text-align: center;
    }
    .job-position {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }
    .slider {
        padding: 50px 0 0 0;
    }
}

/*-----------SAY HELLO-----------*/

.say-hello-wrapper {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}

.say-hello-wrapper .text-container {
    flex: 1 0;
    padding-top: 30px;
    width: 100%;
    min-width: 340px;
}

.say-hello-wrapper .text-container .p-text {
    padding-bottom: 50px;
}

.say-hello-wrapper .form {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
    max-width: 600px;
}

.f-block {
    display: flex;
}

.b-element {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    justify-content: space-evenly;
}

.form label {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}

.form input, form select {
    box-sizing: border-box;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 260px;
    height: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0;
    border: 2px solid black;
    background-color: #F5F5F5;
    -webkit-appearance: none;
}

.form select {
    background: url(./assets/img/Vector.svg) no-repeat right;
    -webkit-appearance: none;
    background-position-x: 220px;
}

.form textarea {
    outline: none;
    padding: 10px;
    width: 536px;
    height: 119px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0;
    border: 2px solid black;
    background-color: #F5F5F5;
    resize: none;
}

.form button {
    cursor: pointer;
    outline: none;
    width: 106px;
    height: 39px;
    margin: 20px 0 0 0px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0;
    border: 2px solid black;
    background-color: #F5F5F5;
}

.form button:hover {
    background-color: #6B7280;
    color: white;
}

@media (max-width: 767px) {
    .say-hello-wrapper .text-container {
        padding-top: 30px;
        max-width: none;
        min-width: auto;
        width: 100%;
    }
    .say-hello-wrapper .text-container .p-text {
        padding-bottom: 20px;
    }
    .say-hello-wrapper .form {
        display: block;

    }
    .form label {
        font-size: 20px;
        padding: 0 0 10px 15px;
    }
    .form input, .form select {
        height: 75px;
        font-size: 20px;
        padding: 0 15px;
        height: 45px;
    }
    .form select {
        background-position: 90%;
        background-size: 10px;
    }
    .form textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 15px 15px;
        font-size: 20px;
    }
    .form button {
        font-size: 20px;
        width: 100px;
        height: 45px;
    }
}

/*---------------RECENT BLOGS--------------*/

.recent-blogs-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.recent-blogs-content {
    display: flex;
    justify-content: space-around;
    padding: 0 10%;
}

.recent-blogs-content .blog {
    width: 288px;
    padding: 20px 35px;
}

.vertical-line {
    border-left: 2px solid black;
}

.blog-title {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: justify;
}

.blog-date {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}

.link-see-now {
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.link-see-now::after {
    content: url("./assets/img/arrow-up.svg");
    margin-left: 7px;
}

.link-see-now .text {
    border-bottom: 1px solid black;
}

.zig-zag {
    margin: 0 0 10% 0;
    background: #F5F5F5;
    position: relative;
    height: 16px;
    z-index: 1;
}

.zig-zag::before, .zig-zag::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
}

.zig-zag::before {
    height: 14px;
    top: 110%;
    background: linear-gradient(-135deg, #000000 10px, transparent 0) 0 10px, linear-gradient( 135deg, #000000 10px, transparent 0) 0 10px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px;
}

.zig-zag::after {
    height: 16px;
    top: 100%;
    background: linear-gradient(-135deg, #F5F5F5 8px, transparent 0) 0 8px, linear-gradient( 135deg, #F5F5F5 8px, transparent 0) 0 8px;
    background-position: top left;
    background-repeat: repeat-x;
    background-size: 16px 16px;
}
.hr-no-zig-zag{
    opacity: 0;
}

.hr-no-zig-zag.show{
    opacity: 1;
}

@media (max-width: 767px) {
    .recent-blogs-title {
        font-size: 30px;
        padding: 0 0 30px 0;
        margin: -20px;
    }
    .recent-blogs-content {
        margin: 0;
        flex-wrap: wrap;
    }
    .recent-blogs-content .blog {
        padding: 0 0 30px 0;
    }
    .blog-title {
        padding-bottom: 5px;
        font-size: 20px;
    }
    .blog-date {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .link-see-now {
        font-size: 20px;
        color: black;
        text-decoration: none;
    }
    .vertical-line {
        border-left: none;
        border-top: 2px solid black;
    }
    .zig-zag {
        height: 14px;
        margin: 0 0 50px 0;
    }
}

/*--------------------NEWSLETTER------------------*/

.newsletter-title {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}

.newsletter-content-wrapper {
    display: flex;
    text-align: center;
    justify-content: space-around
}

.newsletter-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 500px;
}

.form-subscription {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: center;
}

.form-subscription input {
    outline: none;
    padding: 0 10px;
    margin: 0 20px 0 0;
 
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0;
    border: 2px solid black;
    background-color: #F5F5F5;
}

.form-subscription button {
    cursor: pointer;
    outline: none;
    width: 75px;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0;
    border: 2px solid black;
    background-color: #4E4E4E;
}

.form-subscription button:hover {
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}

.subscription {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
}

.privacy-policy {
    font-size: 20px;
    font-weight: 500;
    color: #6B7280;
}

.hr-2px {
    border-color: black;
    border-width: 1px;
}

@media (max-width: 767px) {
    .newsletter-title {
        font-size: 30px;
        padding-bottom: 10px;
    }
    .newsletter-content {
        width: auto;
    }
    .subscription {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .privacy-policy {
        font-size: 20px;
        padding: 20px 0;
        margin: 0;
    }
    .form-subscription {
        padding: 10px 0;
        margin: 0;
    }
    .form-subscription input {
        padding: 0 10px;
        width: 100%;
        height: 45px;
        font-size: 20px;
        margin: 0 10px 0 0;
    }
    .form-subscription button {
        width: 125px;
        height: 45px;
    }
}
/*----------FOOTER------------*/

footer {
    position: relative;
    padding: 36px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer .logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin-left: 30px;
    color: #6B7280;
    font-size: 14px;
}

footer .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icon {
    padding: 0 20px;
}

@media (max-width: 767px) {
    footer {
        flex-direction: column;
        padding: 15px;
    }
    footer .logo-wrapper {
        padding: 0;
        flex-direction: column;
    }
    .logo-wrapper img {
        width: 75px;
    }
    .copyright {
        font-size: 20px;
        text-align: center;
    }
    .icon img {
        width: 25px;
        height: 25px;
    }
}

/* ------------СТРАНИЦА С ПРОЕКТАМИ--------------- */

.slider-projects {
    padding-top: 50px;
}

@media (max-width: 767px) {
    .slider-projects {
        padding-top: 100px;
    }
}

.slider-projects img {
    width: 100%;
}

.about-project {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-project .p-text {
    max-width: 618px;
}

.photos {
    display: flex;
    flex-direction: column;
}

.photos .rectangle {
    padding-bottom: 73px;
}
@media (max-width: 767px) {
    .photos .rectangle {
        padding-bottom: 3%;
    }
}
.photos .rectangle img {
   width: 100%;
}

.photos .square {
    display: flex;
    justify-content: space-between
}
.photos .square img{
    width: 48%;
}

.more-projects {

}

.more-projects-title {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.more-projects-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.more-projects-cart {
    padding: 50px 20px 0 20px;
}
@media (max-width: 767px) {
    .more-projects-cart {
        padding: 0 20px 0 20px;
    }
}

.more-projects-cart .p-text {
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
}